<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/application.html}">

<head>
    <title>Справочник трудоемкости</title>
</head>
<section layout:fragment="content">
    <div class="container-lg mt-5">
        <h1>Модели</h1>
        <table class="table table-bordered table-hover mt-3">
            <thead>
            <tr>
                <th class="col-1">Имя</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="car : ${cars}" th:object="${car}">
                <td th:text="*{getName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</html>